.find_wrap {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.findIdForm,
.findPwForm {
  display: flex;
  flex-direction: column;
  border: 1px solid #c7c7c7;
  width: 600px;
  gap: 30px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}
.findIdForm {
  position: relative;
}
.findIdForm::after {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c7c7c7;
  content: "";
}
.find_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.find_box label {
  flex: 1;
  font-size: 1.2rem;
  outline: none;
}
.find_box input {
  flex: 3;
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

button {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(250, 135, 42);
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  color: rgb(250, 135, 42);
  border: 1px solid rgb(250, 135, 42);
  background-color: #fff;
}
.user_pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #aaa;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 9999;
}
.btn_box {
  width: 600px;
  display: flex;
  margin: 20px auto;
  gap: 20px;
}
.btn_box a {
  display: block;
  flex: 1;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn_box a:hover {
  background-color: rgb(250, 135, 42);
  border: 1px solid rgb(250, 135, 42);
  color: white;
  box-sizing: border-box;
}
